<%- include('../partials/header') %>


    <h1>All Flights</h1>
    <div class="grid-5 width-50 mg-1">
        <div class="item"><h3>Airline</h3></div>
        <div class="item"><h3>Airport</h3></div>
        <div class="item"><h3>Flight No.</h3></div>
        <div class="item"><h3>Departs</h3></div>
        <div class="item"><h3>Details</h3></div>
        <% flights.forEach(flight => { %>
                
            <div <%- Date.now() > flight.departs && 'class=red' %> >
                <p> <%= flight.airline %></p>
            </div>
            <div <%- Date.now() > flight.departs && 'class=red' %> >
                <p> <%= flight.airport %></p>
            </div>
            <div <%- Date.now() > flight.departs && 'class=red' %> >
                <p> <%= flight.flightNo %></p>
            </div>
            <div <%- Date.now() > flight.departs && 'class=red' %> >
                <p> <%= `${flight.departs.toLocaleDateString("en-US")} : ${flight.departs.toLocaleTimeString("en-US")}` %></p>
            </div>
            <div <%- Date.now() > flight.departs && 'class=red' %> >
                <a class="btn-secondary mg-auto" href="/flights/<%= flight.id %>">Details</a>
            </div>

        
        <% } ) %>
    </div>

   


<%- include('../partials/footer') %>