<%- include('../partials/header') %>

<section id="flight-index">
    <table id="flight-table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No.</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(flight => { %>
                <tr style="<%= Date.now() > flight.departs ? 'color: red' : '' %>">
                    <td> <%= flight.airline %>  </td>
                    <td>  <%= flight.airport %> </td>
                    <td> <%= flight.flightNo %> </td>
                    <td> <%= flight.departs.toLocaleDateString("en-US") %> </td>
                </tr>
            <% } ) %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>