<%- include('../partials/header') %>



<ul>
<% flights.forEach(flight => { %>
    <li>
        <%= flight.airline %> - <%= flight.airport %> - <%= flight.flightNo %> - <%= flight.departs %>
    </li>
<% } ) %>
</ul>

<%- include('../partials/footer') %>