<%- include('../partials/header') %>

<!-- <section class="flex-center width-50 height-50" id="flight-show"> -->
    <h2>Flight Details</h2>
    <div class="show-grid width-50" id="flight-show">
        <div class="item-2 flex-center p2">

                <h4>Flight No.</h4>

                <p><%= flight.flightNo %></p>
            
        </div>
        <div class="item-2 flex-center p2">
            <h4>Airline</h4>
            <p><%= flight.airline %></p>
        </div>
        <div class="item-2 flex-center p2">
            <h4>Departs</h4>
            <p><%= `${flight.departs.toLocaleDateString()} : ${flight.departs.toLocaleTimeString()}` %></p>
        </div>
        <div class="item-2 flex-center p2">
            <h4>Airport</h4>
            <p><%= flight.airport %></p>
        </div>
        <div class="item-4 flex-start">
            <h4>Destination<%= flight.destinations.length > 1 ? 's' : '' %></h4>
            <div class="destination-detial">
                <h5>Airport</h5>
                <h5>Arrival</h5>
            <%- flight.destinations.map(d => {
                return `<p>${d.airport} </p> 
                <p>${d.arrival.toLocaleTimeString()}: ${d.arrival.toLocaleDateString()}</p>`
            }).join("") %>
            </div>
            <form 
                class="width-100"
                action="/flights/<%= flight.id %>/destination"
                method="POST"
            >
            <div class="destination-detial">
                <!-- <label for="airport">Airport: </label> -->
                <div class="flex-center">
                    <select name="airport" id="airport">
                        <option value="LAX">LAX</option>
                        <option value="AUS">AUS</option>
                    </select>
                </div>
                <div class="flex-between">
                    <!-- <label for="arrival">Arrival: </label> -->
                    <input type="datetime-local" name="arrival">
                </div>
                <div class="flex-center item-2">

                    <button class="item-2 btn-secondary" type="submit">Add Destination</button>
                </div>
            </div>
            
        </form>
        </div>
        <div class="item-4 flex-start">
            <h4>Tickets</h4>
            <div class="destination-detial">
                <h5>Seat</h5>
                <h5>Price</h5>
                <%- tickets.map(ticket => {
                    return `<p>${ticket.seat}</p>
                        <p>${ticket.price}</p>`
                }) %>
            </div>
            <a class="btn-secondary" href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>

        </div>
    </div>



<%- include('../partials/footer') %>